@import './blocks/main-block/main-block.css';
@import './blocks/women-on-green/women-on-green.css';
@import './blocks/women-on-blue/women-on-blue.css';
@import './blocks/women-on-white/women-on-white.css';
@import './blocks/gray-block/gray-block.css';
@import './blocks/coffee-cup/coffee-cup.css';
@import './blocks/empty-block-brown/empty-block-brown.css';
@import './blocks/open-doors/open-doors.css';
@import './blocks/empty-block-red/empty-block-red.css';
@import './blocks/man-black-white/man-black-white.css';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('./fonts/Inter-SemiBold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/Inter-SemiBold.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('./fonts/Inter-Light.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/Inter-Light.woff') format('woff');
  /* Modern Browsers */
}

.img-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 9fr 4fr 3.07fr 4.5fr 4.5fr;
}

@media(max-width: 1536px) {
  .grid {
    justify-content: center;
    margin: auto;
  }
}

@media(max-width: 1200px) {
  .grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}