.grid{
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 9fr 4fr 3.07fr 4.5fr 4.5fr;
  /* row-gap: 20px;
  column-gap: 30px; */
  
 
}

picture img{
  object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid__item{
  text-align: center;
  /* border: 2px dashed black;  */
  
}

.grid__item_1{
  grid-area: 1 / 1 / 9 / 2;
  background-color: #F9F9F9;  
}

.grid__item_2{
  grid-area: 1 / 2 / 9 / 4;
}

.grid__item_3{
  grid-area: 1 / 4 / 6 / 5;
}

.grid__item_4{
  grid-area: 1 / 5 / 6 / 6;
}

.grid__item_5{
  grid-area: 9 / 1 / 13 / 2;
  background-color: #828282;
}

.grid__item_6{
  grid-area: 9 / 2 / 13 / 3;
}

.grid__item_7{
  grid-area: 9 / 3 / 13 / 4;
  background-color: #A6806B;
}

.grid__item_8{
  grid-area: 6 / 4 / 13 / 5;
}

.grid__item_9{
  grid-area: 6 / 5 / 9 / 6;
  background-color: #A61C1C;
}

.grid__item_10{
  grid-area: 9 / 5 / 13 / 6;
}

@media(min-width: 1200px){
  .grid{
    max-height: 720px;
  }
}